apiVersion: apps/v1
kind: Deployment
metadata:
  name: dso-demo
  labels:
    app: dso-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dso-demo
  template:
    metadata:
      labels:
        app: dso-demo
    spec:
      containers:
        - name: dso-demo
          image: salimgrayaa/dso-demo
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          securityContext:
            capabilities:
              drop:
                - ALL
            privileged: false
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1000
